* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#submitButton, #resetButton {
    width: 20rem;
    margin: 0 auto;
    font-size: 24px;
    top: 15px;
    -webkit-appearance: none;
    display: inline-block;
}
#buttonContainer {
    width: 100%;
    text-align: center;
}
#errorText {
    display: none;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin: 15px 15px 0;
    background: rgb(124,124,136);
    color: white;
    border: 2px solid rgb(190,50,38);
}
p.errorMsg {
    display: none;
    color: red;
    text-align: center;
}
legend {
     font-weight: bold;
     position: relative;
     padding: 10px 0;
 }
article {
    background-color: rgba(250, 239, 236, 0.9);
    text-align: center;
    color: indianred;
    display: block;
    justify-content: center;
    width: 60%;
    height: 80%;
    font-size: 22px;
}
h2 {
    padding-top: 2%;
}

fieldset.text input {
    width: 50px;
    height: 30px;

}
image {
    width: 20px;
    height: 20px;
}
html  {
    font-family: Futura, sans-serif;
    font-size: 18px;
    background-color: indianred;
}
header, nav {
    display: block;
}
body {
    display: block;
    line-height: .01rem;
}
.container {
    margin: auto;
}
div {
    display: block;
}
.flex {
    display: flex;
}

header {
    background: url("images/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1rem;
    height: 30rem;
    margin: auto;
}
h1 {
    font-size: 1rem;
}
header .flex {
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 0.5rem;
}
img {
    border-style: solid;
    border-color: indianred;
    border-width: .3rem;
    align-items: left;
}
nav {
    background-color: indianred;
    color: #0a1411;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div {
    display: flex;
    align-items: center;
}
ul {
    margin-right: 1rem;
}
ul li {
    display: inline;
}
li {
    color: #0a1411;
    display: list-item;
    text-align: match-parent;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
#positions, #contactInfo, #citizenship {
    flex: auto;
    padding: 30px;
}